*.nupkg
*.user
*.suo
*.xap
Debug
Release
*/Debug
*/Bin
*/Release
*/Debug/*
*/Release/*
obj
bin
obj/*
*.docstates
*.g.cs
nuget/PhoneThemeManager.Source/content/*
nuget/PhoneThemeManager/lib
nuget/PhoneThemeManager/lib/*
